# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: popop
app: project-appointment
service: project-appointment

provider:
  name: aws
  runtime: nodejs20.x
  region: us-west-2
  environment:
    DYNAMODB_TABLE: ${env:DYNAMODB_TABLE}
    APPOINTMENTS_TOPIC_ARN: ${env:APPOINTMENTS_TOPIC_ARN}
    EVENT_BUS_NAME: ${env:EVENT_BUS_NAME}

    RDS_HOST_PE: ${env:RDS_HOST_PE}
    RDS_USER_PE: ${env:RDS_USER_PE}
    RDS_PASS_PE: ${env:RDS_PASS_PE}
    RDS_DB_PE: ${env:RDS_DB_PE}

    RDS_HOST_CL: ${env:RDS_HOST_CL}
    RDS_USER_CL: ${env:RDS_USER_CL}
    RDS_PASS_CL: ${env:RDS_PASS_CL}
    RDS_DB_CL: ${env:RDS_DB_CL}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:*
            - sns:*
            - sqs:*
            - events:*
          Resource: '*'

plugins:
  - serverless-offline

functions:
  createAppointment:
    handler: src/appointment.createAppointment
    events:
      - httpApi:
          path: /appointment
          method: post

  listAppointmentsByInsured:
    handler: src/appointment.listAppointmentsByInsured
    events:
      - httpApi:
          path: /appointments
          method: get

  processPE:
    handler: src/processPE.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt: [SQSPE, Arn]

  processCL:
    handler: src/processCL.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt: [SQSCL, Arn]

  confirmAppointment:
    handler: src/appointment.confirmAppointment
    events:
      - sqs:
          arn:
            Fn::GetAtt: [SQSConfirmacion, Arn]

resources:
  Resources:
    AppointmentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: appointments-table
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: insuredId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: InsuredIndex
            KeySchema:
              - AttributeName: insuredId
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    AppointmentsTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: appointments-topic

    SQSPE:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_pe

    SQSCL:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_cl

    SQSConfirmacion:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_confirmacion

    SNSSubscriptionPE:
      Type: AWS::SNS::Subscription
      Properties:
        TopicArn: !Ref AppointmentsTopic
        Protocol: sqs
        Endpoint: !GetAtt SQSPE.Arn
        FilterPolicy:
          countryISO:
            - 'PE'

    SNSSubscriptionCL:
      Type: AWS::SNS::Subscription
      Properties:
        TopicArn: !Ref AppointmentsTopic
        Protocol: sqs
        Endpoint: !GetAtt SQSCL.Arn
        FilterPolicy:
          countryISO:
            - 'CL'

    SQSPEPolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues: [!Ref SQSPE]
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: '*'
              Action: SQS:SendMessage
              Resource: !GetAtt SQSPE.Arn
              Condition:
                ArnEquals:
                  aws:SourceArn: !Ref AppointmentsTopic

    SQSCLPolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues: [!Ref SQSCL]
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: '*'
              Action: SQS:SendMessage
              Resource: !GetAtt SQSCL.Arn
              Condition:
                ArnEquals:
                  aws:SourceArn: !Ref AppointmentsTopic

    SQSConfirmacionPolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - !Ref SQSConfirmacion
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service: events.amazonaws.com
              Action: SQS:SendMessage
              Resource: !GetAtt SQSConfirmacion.Arn

    EventBridgeBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: appointments-event-bus

    EventBridgeToSQSRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: !Ref EventBridgeBus
        EventPattern:
          source:
            - 'appointments.service'
          detail-type:
            - 'AppointmentConfirmation'
        Targets:
          - Arn: !GetAtt SQSConfirmacion.Arn
            Id: 'Target0'
